<section id="login" class="mb-2 mt-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="card_login shadow bg-white rounded">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (submit) = "onLogin()">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Login</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  ¡Algo va mal!
                </div>
                <div class="form-group">
                  <input [(ngModel)] = "email" type="email" id="email" name="email" class="form-control" placeholder="Correo" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)] = "password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-block btn btn-lg btn-primary btn-block">Login</button>
                <div class="form-group">
                  <a routerLink="/register" href="#" class="form-control login-user">¿No tienes cuenta?</a>
                </div>
                <div>
                    <hr>
                    <p class="form-control login-user">ó Entra con:</p>
                    <!-- <span class= "separator-circle"></span> -->
                </div>
                <div class="form-group">  
                  <button class="btn btn-block btn-social btn-facebook" (click) = "onLoginFacebook()">
                    <span class="fa fa-facebook"></span> 
                    Facebook
                  </button>
                  <button class="btn btn-block btn-social btn-google" (click) = "onLoginGoogle()">
                    <span class="fa fa-google"></span> 
                    Google
                  </button>
                </div>
                <!-- <a href="" (click)= "onLogout()">Salir</a> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

