<div class="card shadow bg-white rounded">
  <div class="card-body">
    <form (submit)="addTask(newTitle, newDescription)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingrese su Tarea" #newTitle>
      </div>
      <div class="form-group">
        <textarea class="form-control" cols="30" rows="10" placeholder="Describa su Tarea" #newDescription></textarea>      
      </div>
      <button class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>
</div>